# Build artifacts
build/*.o
build/*.bin
build/*.exe
build/*.elf
build/*.img
build/*.raw
build/*.vdi
build/*.vmdk
build/*.vmx
build/*.map
build/*.s
build/*.ppm
build/*.vmem
build/*.vmss
build/*.dmp
build/*.scoreboard
build/SignaturesOS*
build/nvram
build/*.tmp
build/*.jpg
*.log
bootlog.txt

# Temp & Cache
scratch/
tools/__pycache__/
NTFS-SYSTEM[TESTS-VDI]/

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
Thumbs.db
.DS_Store
